

.historycommit__content{
    padding: 0;
    display: flex;
    justify-content: center;
}


.swiper-slide{
    display: flex;
    justify-content: center;
    width: 250px;
}

/* карточка */
.content__card_historycommit{
    width: 288px;
    max-height: 288px;
    margin: 0 8px;
    padding-bottom: 0;
}
.text__box{
    padding: 16px 0;
    display: flex;
    align-items: center;
}

.box__title{
    margin-left: 16px;
}
.title__header{
    margin: 5px 0;
}
.title__email{
    font-size: 14px;
    line-height: 22px;
}
.text__subtitle_historycommit{
    height: 70px;
}
/* @media (min-width:767px) and (max-width:1025px){
    .historycommit__content{
        padding: 0 40px;
        justify-content: center;
    }
    .content__card_historycommit{
        width: 336px;
        height: 242px;
    }
    .content__card_historycommit:last-of-type{
        display: none;
    }
    .card__text_historycommit{
        padding: 24px;
    }
    .text__date{
        font-size: 14px;
        line-height: 22px;
    }
    .box__image{
        width: 46px;
    }
    .box__title{
        margin-left: 12px;
    }
    .title__header{
        font-size: 20px;
        line-height: 30px;
    }
}*/
@media (max-width:766px){ 
    /* .historycommit__content{
        padding: 0;
    } */
    .content__card_historycommit{
        max-width: 280px; 
        /* height: 264px; 
        margin: 0; */
   }
    /*.content__card_historycommit:first-of-type{
        display: none;
    }
    .content__card_historycommit:last-of-type{
        display: none;
    }
    
    .card__text_historycommit{
        width: 288px;
        margin: 0;
        padding: 24px;
    }
    .text__date{
        font-size: 14px;
        line-height: 22px;
    }
    .box__image{
        width: 46px;
    }
    .box__title{
        margin-left: 12px;
    }
    .title__header{
        font-size: 20px;
        line-height: 30px;
    } */
} 
@media (max-width: 321px){
    .content__card_historycommit{
         min-width: 265px; 
          /* height: 264px; 
         margin: 0;  */
 }
}
