

.footer__protection{
    font-size: 16px;
    line-height: 22px;
    color: #B6BCBF;
}
.footer__protection_head{
    font-size: 16px;
    line-height: 22px;
    margin: 0;
}
@media (max-width:766px){
    .footer__protection{
        position: absolute;
        bottom: 22px;
    }
}