

.historycommit__button{
    display: none;
}
@media (min-width:767px) and (max-width:1025px){
    .historycommit__button{
        display: none;
    }
}
@media (max-width:766px){
    .historycommit__button{
        display: block;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .button__opengithub{
        border: 1px solid #1A1B22;
    }
}