

@import url(./footer__protection/footer__protection.css);
@import url(./footer_link/footer_link.css);
@import url(./footer__icon/footer__icon.css);
@import url();

.footer{
    height: 80px;
    padding: 0 106px  0 104px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    line-height: 24px;
}

@media (min-width:767px) and (max-width:1025px){
    .footer{
        height: 64px;
        padding: 0 40px  0 42px;
    }    
}
@media (max-width:766px){
    .footer{
        height: 224px;
        position: relative;
        padding: 5px 18px 0 16px;
        align-items: start;
    }
}



