.search__image{
    color: #1A1B22;
    z-index: 0;
    position: absolute;
    top: 0;
    width: 1440px;
    max-height: 576px;
    display: none;
}
.search__image_two{
    display: none;
}
.search__image_three{
    display: none;
}
@media (max-width:766px){
    .search__image_one{
        display: none;
    }
    .search__image_two{
        display: block;
        width: 1055px;
    }
    .search__image_three{
        display: none;
    }
}
@media (max-width: 345px){
    .search__image_two{
        display: none;
    }
    .search__image_three{
        width: 345px;
        height:auto;
        display: block;
    }
}
