

.technologies__title{
    position: relative;
    top: 80px;
    max-width: 344px;
    margin: 0;
}
@media (min-width:767px) and (max-width:1025px){
    .technologies__title{
        position: relative;
        top: 0;
        padding-left: 40px;
    }
}
@media (max-width:766px){
    .technologies__title{
        top: 0;
    }
}