@import url(./vendor/normalize.css);
@import url(./vendor/fonts.css);
@import url(./vendor/swiper.css);
@import url(./blocks/blocks.css);
@import url(./vendor/preloader.css);



body {
    display: flex;
    justify-content: center;
}
.root{
    position: relative;
    width: 100%;
    max-width: 1440px;
    color: #1A1B22;
    font-family: 'roboto-regular', sans-serif, Arial;
    letter-spacing: 0.2px;
    /* font-family: 'roboto-medium'; */

}
h1{
    font-family: 'robotoslab-regular', sans-serif, Arial;  
}
h3{
    font-family: 'robotoslab-regular', sans-serif, Arial;
}
h4{
    font-family: 'robotoslab-regular', sans-serif, Arial;
}
a{
    color: #1A1B22;
    text-decoration: none;
    /* cursor: url('./image/Pointer.png'), pointer; */
    cursor: url('./image/lapka.svg'), pointer;
}
button{
    font-size: 18px;
    line-height: 24px;
    font-family: 'roboto-bold', sans-serif, Arial;
    /* cursor: url('./image/Pointer.png'), pointer; */
    cursor: url('./image/lapka.svg'), pointer;

}
